[submodule "Source/External/hash_index"]
	path = Source/External/hash_index
	url = git@github.com:glampert/hash_index.git
[submodule "Source/External/vectormath"]
	path = Source/External/vectormath
	url = git@github.com:glampert/vectormath.git
[submodule "Source/External/str"]
	path = Source/External/str
	url = git@github.com:glampert/str.git
