[submodule "Source/External/hash_index"]
	path = Source/External/hash_index
	url = git@github.com:glampert/hash_index.git
[submodule "Source/External/vectormath"]
	path = Source/External/vectormath
	url = git@github.com:glampert/vectormath.git
[submodule "Source/External/str"]
	path = Source/External/str
	url = git@github.com:glampert/str.git
[submodule "Source/External/enum_helpers"]
	path = Source/External/enum_helpers
	url = git@github.com:glampert/enum_helpers.git
[submodule "Source/External/array_view"]
	path = Source/External/array_view
	url = git@github.com:glampert/array_view.git
